# 2017-05-26 akohler: Added support for TB 265 and 266 per VBT-807

[336]
# New field oclc tb258
0=a 1O
1=b 1O
2=0 1A
3=2 0O
4=3 0O 
Subfa=Content type term
Subfb=Content type code
Subf0=Authority record control number or standard number
Subf2=Source
Subf3=Materials specified

[336Ind1]
0=_
Value_=Undefined

[336Ind2]
0=_
Value_=Undefined

[348]
0=a 1A
1=b 1A
2=0 1A
3=2 0A
4=3 0A
5=8 1A
Subfa=Format of notated music term
Subfb=Format of notated music code
Subf0=Authority record control number or standard number
Subf2=Source of term
Subf3=Materials specified
Subf8=Field link and sequence number

[348Ind1]
0=_
Value_=Undefined

[348Ind2]
0=_
Value_=Undefined

[360]
# new subfield 0 20091016 ss
0=a 1A
1=i 1M
2=0 1O
Subfa=Heading referred to
Subfi=Explanatory text
Subf0=Authority Record Control Number

[360Ind1]
0=_
Value_=Undefined

[360Ind2]
0=_
Value_=Undefined


[368] #field and subfields added 12/18/2012 LW/LIT TB261
0=a 1O
1=b 1O
2=c 1O
3=d 1O
4=s 0O
5=t 0O
6=u 0O
7=v 1O
8=2 0O
Subfa=Type of corporate body 
Subfb=Type of jurisdiction 
Subfc=Other designation 
Subfd=Title of person #added APR 2015 per M. Beck + C. Horning LW/LIT
Subfs=Start period #added APR 2015 per M. Beck + C. Horning LW/LIT
Subft=End period #added APR 2015 per M. Beck + C. Horning LW/LIT
Subfu=Uniform Resource Identifier #added APR 2015 per M. Beck + C. Horning LW/LIT
Subfv=Source of information #added APR 2015 per M. Beck + C. Horning LW/LIT
Subf2=Source


[368Ind1] # added 12/18/2012 LW/LIT TB261
0=_
Value_=Undefined

[368Ind2] # added 12/18/2012 LW/LIT TB261
0=_
Value_=Undefined


[370]
# new field oclc tb258
0=a 0O
1=b 0O
2=c 1O
3=e 1O
4=f 1O
5=g 1O
6=s 0O
7=t 0O
8=u 1O
9=v 1O
10=0 1O
11=2 0O
Subfa=Place of birth
Subfb=Place of death
Subfc=Associated country
Subfe=Place of residency/headquarters
Subff=Other associated place
Subfg=Place of orgin of work
Subfs=Start period
Subft=End period
Subfu=Uniform Resource Indentifier
Subfv=Source of information
Subf0=Authority record control number
Subf2=Source of term

[370Ind1]
0=_
Value_=Undefined

[370Ind2]
0=_
Value_=Undefined

[371]
# New field oclc tb258
0=a 1O
1=b 0O
2=c 0O
3=d 0O
4=e 0O
5=m 1O
6=s 0O
7=t 0O
8=u 1O
9=v 1O
10=z 1O
11=4 1O
Subfa=Address
Subfb=City
Subfc=Intermediate jurisdiction
Subfd=COuntry
Subfe=Postal code
Subfm=Electronic mail address
Subfs=Start period
Subft=End period
Subfu=Uniform Resource Identifier
Subfv=Source of information
Subfz=Public note
Subf4=Relator code

[371Ind1]
0=_
Value_=Undefined

[371Ind2] #edited 8/9/2012 LW/LIT TB258
0=_
Value_=Undefined

[372]
# new field oclc tb258
0=a 1O
1=s 0O
2=t 0O
3=u 1O
4=v 1O
5=0 1O
6=2 0O
Subfa=Field of activity
Subfs=Start period
Subft=End period
Subfu=Uniform Resource Indentifier
Subfv=Source of information 
Subf0=Authority record control number
Subf2=Source of term

[372Ind1]
0=_
Value_=Undefined

[372Ind2]
0=_
Value_=Undefined

[373]
# New field oclc tb258
0=a 1O
1=s 0O
2=t 0O
3=u 1O
4=v 1O
5=0 1O
6=2 0O
Subfa=Associated group. Formerly, Affiliation. #edited 12/18/2012 LW/LIT TB 261
Subfs=Start period
Subft=End period
Subfu=Uniform Resource Identifier
Subfv=Source of information
Subf0=Authority record control number
Subf2=Source of term

[373Ind1]
0=_
Value_=Undefined

[373Ind2]
0=_
Value_=Undefined

[374]
# New field oclc tb258
0=a 1O
1=s 0O
2=t 0O
3=u 1O
4=v 1O
5=0 1O
6=2 0O
Subfa=Occupation
Subfs=Start period
Subft=End period
Subfu=Uniform Resource Idenditifer
Subfv=Source of information
Subf0=Authority record control number
Subf2=Source of term

[374Ind1]
0=_
Value_=Undefined

[374Ind2]
0=_
Value_=Undefined

[375]
# new field oclc tb258
0=a 1O
1=s 0O
2=t 0O
3=u 1O
4=v 1O
5=2 0O
Subfa=Gender
Subfs=Start period
Subft=End period
Subfu=Uniform Resource Identifier
Subfv=Source of information
Subf2=Source of term

[375Ind1]
0=_
Value_=Undefined

[375Ind2]
0=_
Value_=Undefined

[376]
# new field oclc tb 258
0=a 1O
1=b 1O
2=c 1O #added 8/9/2012 LW/LIT TB258
3=s 0O
4=t 0O
5=u 1o
6=v 1O
7=0 1O
8=2 0O
Subfa=Type of family
Subfb=Name of prominent member
Subfc=Hereditary title
Subfs=Start period
Subft=End period
Subfu=Uniform Resource Identifier
Subfv=Source of information
Subf0=Authority record control number
Subf2=Source of term

[376Ind1]
0=_
Value_=Undefined

[376Ind2]
0=_
Value_=Undefined

[377]
# new field oclc tb258
0=a 1O
1=l 1O
2=2 0O
Subfa=Language code
Subfl=Language term #added 12/18/2012 LW/LIT TB 261
Subf2=Source of code

[377Ind1] #added 4/25/2013 LW/LIT per S/Layne
0=_
Value_=Undefined

[377Ind2] #added 4/25/2013 LW/LIT per S/Layne
0=_
1=7
Value_=MARC language code
Value7=Source specified in $2 

[378]  #added 12/18/2012 LW/LIT TB 261
0=q 0O
1=u 1O
2=v 1O
Subfq=Fuller form of personal name
Subfu=Uniform resource identifier
Subfv=Source of information 


[378Ind1]  #added 12/18/2012 LW/LIT TB 261
0=_
value_=Undefined

[378Ind2]  #added 12/18/2012 LW/LIT TB 261
0=_
Value_=Undefined



[380]
# new field oclc tb258
0=a 1O
1=0 1O
2=2 0O
Subfa=Form of work
Subf0=Authority record control number
Subf2=Source of term

[380Ind1]
0=_
Value_=Undefined

[380Ind2]
0=_
Value_=Undefined

[381]
# new field oclc tb258
0=a 1o
1=u 1o
2=v 1o
3=0 0O
4=2 0O
Subfa=other distinguishing charateristic
Subfu=Uniform resource indefiter 
Subfv=Source of information
Subf0=Authority record control number
Subf2=Source of term

[381Ind1]
0=_
Value_=Undefined

[381Ind2]
0=_
Value_=Undefined

[382]
# new field oclc tb258
0=a 1O
1=b 1O #changed 12/18/2012 LW/LIT TB 261
2=c 1O
3=d 1O #added 12/18/2012 LW/LIT TB 261
4=e 1A
5=n 1O #added 12/18/2012 LW/LIT TB 261
6=p 1O #added 12/18/2012 LW/LIT TB 261
7=r 0A
8=s 0O #added 12/18/2012 LW/LIT TB 261
9=t 0A
10=v 1O #added 12/18/2012 LW/LIT TB 261
11=0 1O #added 8/9/2012 LW/LIT TB258
12=2 0O #added 8/9/2012 LW/LIT TB258
Subfa=Serial number
Subfb=Soloist #changed 12/18/2012 LW/LIT TB 261
Subfc=Thermatic index number
Subfd=Doubling instrument
Subfe=Number of ensembles of the same type
Subfn=Number of performers of the same medium 
Subfp=Alternative medium of performance 
Subfr=Total number of individuals performing alongside ensembles
Subfs=Total number of performers
Subft=Total number of ensembles
Subfv=Note
Subf0=Authority record control number 
Subf2=Source of term 


[382Ind1]
0=_ #changed 12/18/2012 LW/LIT TB 261
1=0 #added 12/18/2012 LW/LIT TB 261
2=1 #added 12/18/2012 LW/LIT TB 261
Value_=No information provided.
Value0=Medium of performance
Value1=Partial medium of performance

[382Ind2]
0=_
Value_=Undefined

[383]
# new field oclc tb258
0=a 1O
1=b 1O
2=c 1O
3=d 0O #added 12/18/2012 LW/LIT TB 261
4=e 0O #added 12/18/2012 LW/LIT TB 261
5=2 0O #added 12/18/2012 LW/LIT TB 261
Subfa=Serial number
Subfb=Opus number
Subfc=Thermatic index number
Subfd=Thematic index code 
Subfe=Publisher associated with serial or opus number 
Subf2=Source

[383Ind1]
0=_
Value_=Undefined

[383Ind2]
0=_
Value_=Undefined

[384]
# new field oclc tb258
0=a 0O
Subfz=Key

[384Ind1]
0=_
1=0
2=1
Value_=Relationship to original unkonwn
value0=Original key
Value1=transposed key

[384Ind2]
0=_
Value_=Undefined

[388]
0=a 1A
1=0 1A
2=2 0A
3=3 0A
4=8 1A
Subfa=Time period of creation term
Subf0=Authority record control number or standard number
Subf2=Source of term
Subf3=Materials specified
Subf8=Field link and sequence number

[388Ind1]
0=_
1=1
2=2
Value_=No information provided
Value1=Creation of work
Value2=Creation of aggregate work

[388Ind2]
0=_
Value_=No information provided
