# comment your work! EJW
# comment starting date 7/22/97 EJW
# replaced all "|" in indicator values with "_"; 5/18/98 ES
# added subf6 and subf8 as per MARC21 Format for Authority
#   Data  11/3/2000 SJO
# Changes for Voyager 2001.2
# per OCLC TB 244 (no changes)
#No updates per TB 246-250 (6/29/2007 TGG)
# Updated per OCLC TB 252-255. 6/2/08 ASP
# Updated per OCLC TB 257 9 Sept 09 MEB
# UPdated per OCLC TB 260 30 May 2012 MEB

[260]
0=a 1M
1=i 1M
2=0 1A
3=6 0A
4=8 1A
Subfa=Heading referred to
Subfi=Explanatory text
Subf0=Record control number
Subf6=Linkage
Subf8=Field link and sequence number

[260Ind1]
0=_ 
Value_=Undefined

[260Ind2]
0=_ 
Value_=Undefined
